body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family:'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.generalContainer{
  height:calc( 100vh - 48px );
  background-color:lightgrey;
  background-size: cover;
}

.taskPageComponent{
  margin:10px auto; 
  padding: 10px;
  border-bottom : 1px solid darkorange; 
  box-shadow: 2px 5px 4px black;
}


.taskActionButton {
  height: 40px;
  background-color: lightgray!important; 
  margin: 0 20px!important;
  border:2px solid orange!important;
}

.taskDeleteButton {
  height: 40px; 
  margin: 0 10px!important;
  border:2px solid darkgrey!important;
}

.taskPad{
  margin: 5px;
  padding: 5px 0;
  border-bottom: 1px solid orange;
}
 
.taskListMessage{
  margin: 10px auto;
  color: orange;
  width: 50%;
  text-align: center;
}

.taskCompletedStyle{
  text-decoration: line-through;
  background-color: rgba(118,118,118, 0.6);
} 